project:
  type: website
  output-dir: docs

website:
  title: "iscal_statistics_2"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: material.qmd
        text: Material

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



