project:
  type: website
  output-dir: docs

website:
  title: "Statistics II"
  navbar:
    logo: images/ISCAL_logo.png
    left:
      - href: index.qmd
        text: Home
      - href: material.qmd
        text: Material

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



